meta(charset="UTF-8")

title Hello Algorithm World!

meta(name="author",content="alucky <alucky0707@myopera.com>")

link(rel="stylesheet",href="./lib/reveal.js/css/reveal.min.css")
link#theme(rel="stylesheet",href="./lib/reveal.js/css/theme/default.css")

link(rel="stylesheet",href="./lib/reveal.js/lib/css/zenburn.css")

link(rel="stylesheet",href="./resource/index.css")

// if lt IE 9
  script(src="./lib/reveal.js/lib/js/html5shiv.js")
